In [ ]:
#@title Conectar com o Google Drive

from google.colab import drive
drive.mount('/content/drive')

#Conectando o ambiente ao Google Drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#@title  Puxar Base de Dados


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Importando bibliotecas necessárias.

uri = '/content/drive/Shareddrives/Colab_Grupo2/dataToPredict.csv'

data = pd.read_csv(uri)
#Declarando caminho do conjunto de dados e instanciando um dataframe.

data.shape

(4132, 97)

In [ ]:
#@title  Criar cópia

df = data[['follow_up_days']].copy()

df.dtypes

follow_up_days    float64
dtype: object

In [ ]:
#@title  Transformar follow_up_days em números inteiros

df = df.astype(int)

In [ ]:
#@title  Criar um Dataframe com uma coluna de inteiros

follow_up_classified = pd.DataFrame(columns=['follow_up_classified'], dtype=int)

In [ ]:
#@title  Classificação do follow_up_days em baixo, médio, alto e muito alto

classifiers = []
def classify_follow_up_days(x):
  if x < 950:
    classifiers.append(0)
  elif x < 2470:
    classifiers.append(1)
  elif x < 3610:
    classifiers.append(2)
  else:
    classifiers.append(3)
df['follow_up_days'].apply(
  classify_follow_up_days
)
df['follow_up_classified'] = 0
count = 0
for classification in classifiers:
  follow_up_classified = follow_up_classified.append({
      'follow_up_classified': classifiers[count]}, ignore_index=True)
  count += 1
follow_up_classified

#Criação de loop para classificar o follow up dates em baixo, médio, alto e muito alto.

      follow_up_classified
0                        2
1                        1
2                        2
3                        3
4                        2
...                    ...
4127                     0
4128                     0
4129                     0
4130                     0
4131                     0

[4132 rows x 1 columns]

In [ ]:
#@title  Criação de um id temporário para cada linha

df['follow_up_classified'] = follow_up_classified['follow_up_classified']
df['id'] = 1

count = -1

for n in range(len(df.id)):
  df['id'][n] = count + df['id'][n]
  count += 1
df.drop('follow_up_days', axis=1, inplace=True)
data['id'] = df['id']

#Adicionar ID temporário para facilitar a o tratamento de dados

In [ ]:
#@title  Juntar as bases de dados

new_data = pd.merge(
    df,
    data,
    left_on='id',
    right_on='id',
    how='left'
)

#Juntar as bases de dados.

In [ ]:
#@title  Salvar base de dados

new_data.to_csv("data_classified.csv", index=False)